html {
  height: 100%;
  width: 100%;
}

 /* Thumbnail */
.cont{
  width: 350px;
  border-radius: 15px;
 padding-bottom:10px;
  background-color: aqua;
  margin: 15px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail{
  height: 350px;
  border-radius: 15px;
}
.read{
  border-color: white;
  color:blue;
  background-color: skyblue;
  border-radius:15px;
  padding:10px;
  font-size:25px;
  margin-left: 30%;
}
.tit{
  margin-left: 5px;
}
.thumbdes{
   margin:10px;
  
}