*{
    padding: 0;
    margin: 0;
}
 /* Thumbnail */
 .main{
     
    margin: 10px;
 }

/* Footer */

footer{
    padding: 10px;
    display: flex;
    background-color: #15163d;
    max-width: 1170px;
    float: bottom;
bottom: 0px;
    color: white;
}
.help{
    margin-left:50px ;
}
/*
.fa-youtube {
 
  color: white;
}

.fa-instagram {

  color: white;
}
.fa-facebook {
  
  color: white;
}

*/